SHOPIFY_STORES=au:luxskin-au.myshopify.com:shpat_xxxxx,uk:luxskin-uk.myshopify.com:shpat_xxxxx,us:luxskin-us.myshopify.com:shpat_xxxxx,ca:luxskin-ca.myshopify.com:shpat_xxxxx,eu:luxskin-eu.myshopify.com:shpat_xxxxx,uae:luxskin-uae.myshopify.com:shpat_xxxxx
SHOPIFY_CURRENCIES=au:AUD,uk:GBP,us:USD,ca:CAD,eu:EUR,uae:AED
SHOPIFY_API_VERSION=2024-10
COGS_TOLERANCE_USD=0.10
COGS_TOLERANCE_PCT=3.0
SLACK_SIGNING_SECRET=your_slack_signing_secret
PRICE_LIST_PATH=supplier_prices.json
