SHOPIFY_TOKEN_AU=shpat_xxxxx
SHOPIFY_TOKEN_UK=shpat_xxxxx
SHOPIFY_TOKEN_US=shpat_xxxxx
SHOPIFY_TOKEN_CA=shpat_xxxxx
SHOPIFY_TOKEN_EU=shpat_xxxxx
SHOPIFY_TOKEN_UAE=shpat_xxxxx
SHOPIFY_API_VERSION=2024-10
COGS_TOLERANCE_USD=0.10
COGS_TOLERANCE_PCT=3.0
PRICE_LIST_PATH=supplier_prices.json
